body{
#background-color:#5A6C7E;
background-color:white;
}

#headingBar{
background-color:#3F4C58;
position:fixed;
top: 10px;
left: 10px;
height: 120px;
}

#navigationBar{
background-color:#2E3B47;
position:fixed;
top: 135px;
left: 10px;
height: 10px;
}

#sideBar{
position:fixed;
width:150px;
top: 150px;
left: 10px;
}

#interior{
#border-color:black;
#border-style:groove;
#border-width:3px;
background-color:white;
position:fixed;
top:150px;
left:170px;
overflow:auto;
}

#copyright{
color: black;
position:fixed;
bottom: 8px;
}

#navSpace{
height: 34px;
float:left;
}

#quotePartOne,#quotePartTwo{
position:fixed;
font-size:18px;
color:#000000;
}

#rightLine{
background-color: #999999;
width:2px;
height:600px;
position:fixed;
top:150px;
left:165px;
}

#middleLine{
background-color: #999999;
width:150px;
height:2px;
position:fixed;
top:360px;
left:10px;
}


.nav-menus{
background-color:white;
height: 40px;
width: 150px;
float:left;
color:black;
line-height:40px;
}

.option-menus{
background-color:white;
#height: 350px;
width: 150px;
position:fixed;
border-color:black;
border-style:groove;
border-width:3px;
top:195px;
left:160px;
color:black;
line-height:40px;
}

.gradient{
background: linear-gradient(to bottom right, #3F4C58, #FFFFFF);
}

.countdown{
position:absolute;
font-size:24px;
text-align:center;
}



#countdownHeader{
top:220px;
}

#days{
top:260px;
}

#hours{
top:340px;
}

#minutes{
top:420px;
}

#seconds{
top:500px;
}

#daysNumber{
top:285px;
font-size:34px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#hoursNumber{
top:365px;
font-size:34px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#minutesNumber{
top:445px;
font-size:34px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#secondsNumber{
top:525px;
font-size:34px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

