#photoOne{
position:fixed;
top:50px;
left:50px;
}

#photoTwo{
position:fixed;
top:175px;
left:50px
}

#photoThree{
position:fixed;
top:300px;
left:50px
}

#photoFour{
position:fixed;
top:425px;
left:50px
}

#topBox{
height:325px;
width:800px;
position:fixed;
top:50px;
left:200px;
background-color:#CCCCCC;
display:none;
}

#bottomBox{
height:325px;
width:800px;
position:fixed;
bottom:50px;
left:200px;
background-color:#CCCCCC;
display:none;
}

#qOne{
background-color:#FF7777;
height:300px;
width:300px;
position:fixed;
top:0px;
left:0px;
font-size:24px;
font-family: Papyrus, fantasy;
}

#qTwo{
background-color:#77FF77;
height:300px;
width:300px;
position:fixed;
top:0px;
left:300px;
font-size:24px;
font-family: Papyrus, fantasy;
}

#qThree{
background-color:#7777FF;
height:300px;
width:300px;
position:fixed;
top:300px;
left:0px;
font-size:24px;
font-family: Papyrus, fantasy;
}

#qFour{
background-color:#FFFF77;
height:300px;
width:300px;
position:fixed;
top:300px;
left:300px;
font-size:24px;
font-family: Papyrus, fantasy;
}

#one{
position:fixed;
top:0px;
left:0px;
border-color:black;
border-style:groove;
border-width:3px;
}

#two{
position:fixed;
top:0px;
left:0px;
border-color:black;
border-style:groove;
border-width:3px;
}

#three{
position:fixed;
top:0px;
left:0px;
border-color:black;
border-style:groove;
border-width:3px;
}

#four{
position:fixed;
top:0px;
left:0px;
border-color:black;
border-style:groove;
border-width:3px;
}
