#header1{
#display:none;
font-size:28px;
position:fixed;
}

#header2{
#display:none;
font-size:16px;
position:fixed;
}

#teamBox,#projectBox{
position:fixed;
height:100px;
width:200px;
background-color:#CCCCCC;
top:150px;
border-radius:25px;
line-height:100px;
}

.team-options{
height:1px;
width:1px;
background-color:#CCCCCC;
display:none;
line-height:100px;
position:fixed;
top:150px;
border-radius:25px;
}

.project-options{
height:1px;
width:1px;
background-color:#CCCCCC;
display:none;
line-height:100px;
position:fixed;
top:150px;
border-radius:25px;
}
